body {
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.hero-outer {
    height: 100vh;
    background: url("../images/hero-image.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.benefits-container {
}

/* Navbar */

.navbar {
    background: #023047;
    height: 100px;
    padding-left: 10px;
}

.navbar-toggler i {
    color: #ffffff;
    size: 20px;
}

.navbar-brand {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 3-px;
}

.navbar-brand:hover {
    color: #219ebc;
}

.navbar-nav .nav-item {
    padding-right: 8px;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
    font-size: 20px;
    letter-spacing: 1px;
}

.navbar-nav .nav-link.active {
    color: #219ebc;
}

.navbar-nav .nav-link:hover {
    color: #219ebc;
}

/* Footer */

footer {
    background-color: #023047;
    height: 70px;
    text-align: center;
    padding-top: 10px; 
}

footer i {
    width: 50px;
    height: 50px;
    padding: 13px 0;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    color: #219EBC;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer a i:hover {
    color: #ffffff;
    background-color: #219EBC;
}