/* GLOBAL STYLES */

:root {
    --navy: #023047;
    --mid-blue: #227596;
    --light-blue: #BCE1F0;
    --white: #FFF;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--navy);
}

html, body {
    height: 100%;
}

.text-muted {
    font-size: smaller;
}

/* Colours */
.bg-mid-blue {
    background-color: var(--mid-blue);
    color: var(--white);
}

.border-navy {
    border: 2px solid var(--navy) !important;
}

.border-white {
    border: 2px solid var(--white) !important;
}

.text-mid-blue {
    color: var(--mid-blue)
}

/* Headings */
.heading {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

h3,
h4 {
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 1px;
}

/* Block dividers */
.block-divider {
    max-width: 90px;
    border-top: 3px solid;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--mid-blue);
    opacity: 1;
    padding-bottom: 16px;
}

.block-divider-white {
    color: var(--white);
}

.block-divider-short {
    max-width: 50px;
    padding-bottom: 0px;
}

/* Buttons */
.btn-blue {
    background-color: var(--mid-blue);
    color: var(--white);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-blue:hover {
    background-color: var(--navy);
    color: var(--white);
}

.btn-white {
    background-color: var(--white);
    color: var(--mid-blue);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-white:hover {
    background-color: var(--navy);
    color: var(--white);
}

.btn-navy {
    background-color: var(--navy);
    color: var(--white);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-navy:hover {
    background-color: var(--mid-blue);
    color: var(--white);
    border: 1px solid var(--white);
}

/* NAVBAR */

.navbar {
    background: var(--navy);
    padding: 30px 10px;
}

.navbar-home {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.navbar-toggler i {
    color: var(--white);
}

.navbar-brand {
    color: var(--white);
    letter-spacing: 2px;
    font-size: 20px;
    text-align: left;
    padding-left: 8px;
    margin: 0;
}

.navbar-brand:hover {
    color: var(--light-blue);
}

.navbar-nav .nav-link {
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 24px;
}

.navbar-nav .nav-link.active {
    color: var(--light-blue);
}

.navbar-nav .nav-link:hover {
    color: var(--light-blue);
}

.navbar .navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--white);
}

/* Hover styling - hover.css from htt[s://ianlunn.github.io/Hover/ */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* HOMEPAGE */

.hero-outer {
    height: 100vh;
    background: url("../images/hero-image.webp") no-repeat center bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.homepage-section {
    padding: 100px 40px;
}

#scroll-to-about {
    color: var(--white);
    font-size: 50px;
}

#scroll-to-about:hover {
    color: var(--light-blue)
}

.benefit {
    text-align: center;
    padding: 16px;
}

.benefit i {
    color: var(--mid-blue);
    background: var(--white);
    width: 50px;
    height: 50px;
    padding: 13px 0;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
}

.paddle-spot {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.schedule-card {
    border: 2px solid var(--mid-blue);
    border-radius: 20px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* SCHEDULE PAGE */

.schedule-section {
    padding: 50px 60px;
}

.schedule-info {
    padding-left: 12px;
    padding-right: 40px;
}

.map,
.conditions {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* GALLERY PAGE */

.llandegfedd,
.cardiff-bay,
.canal,
.river-wye {
    padding-top: 30px;
    padding-bottom: 50px;
}

.carousel-item {
    max-height: 75vh;
    object-fit: contain;
}

/* CONTACT PAGE */

.contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* CONFIRMATION PAGE */

.confirmation {
    text-align: center;
    padding: 60px 20px;
}

/* FOOTER */

body > footer {
    position: sticky;
    top: 100vh;
}

footer {
    background-color: var(--navy);
    height: 70px;
    text-align: center;
    padding-top: 10px;
}

footer i {
    width: 50px;
    height: 50px;
    padding: 13px 0;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    color: var(--mid-blue);
    background: var(--white);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer a i:hover {
    color: var(--white);
    background-color: var(--mid-blue);
}

/* MEDIA QUERIES */

/* Adds a line break between 'Gwent' and 'Paddleboarders' to stop navbar toggler dropping below navbar-brand */
@media screen and (min-width: 420px) {
    .navbar-brand-br {
        display: none;
    }
}

/* Adjusts padding of schedule page for smaller devices */
@media screen and (max-width: 992px) {
    .schedule-section {
        padding: 40px 40px;
    }
}

@media screen and (max-width: 768px) {
    .schedule-info {
        padding-right: 10px;
    }
}

@media screen and (min-width: 768px) {
    .hero-outer {
        background-attachment: fixed;
    }
}